{% extends 'layout.html' %}
{% block title %}
-*
{% endblock %}

{% block content %}
<div class="content-container">
        <div class="content-title">
                <a href="{{url_for('add_question')}}">增添题库</a>
        </div>
        <div class="content-description">
                来增加题目的
        </div>

</div>
<div class="content-container">
        <div class="content-title">
                <a href="{{url_for('see_question')}}">观看题库</a>
        </div>
        <div class="content-description">
                来观看题目的
        </div>
</div>
<div class="content-container">
        <div class="content-title">
                <a href="{{url_for('see_candidate')}}">对题的数量</a>
        </div>
        <div class="content-description">
                来看各位对多少
        </div>
</div>

{% endblock %}
