{% extends 'layout.html' %}
{% block title %}
-主页
{% endblock %}

{% block content %}
<div class="content-container">
        <div class="content-title">
                <a href="Test_Zone">测试</a>
        </div>
        <div class="content-description">
                此测试超级无敌难，别点进去！！！
        </div>
</div>
<div class="content-container">
        <div class="content-title">
                <a href="Code_Zone">官方使用</a>
        </div>
        <div class="content-description">
                非官方严谨进入！！！！！
        </div>

</div>

{% endblock %}
